header {
  height: 35px;
  border-bottom: 1px solid #ddd;
  box-shadow: 2px 0 6px #ddd;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

header #title {
  color: var(--primary-color);
  font-weight: 900;
}

#banner {
  background: url(../assets/img/always-grey.png);
  background-color: #f1f1f1;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

#banner h1 {
  color: #aaa;
  font-size: 48px;
  text-align: center;
  font-family: tt;
}

#banner a {
  margin-bottom: 50px;
  padding: 5px 20px;
  border-radius: 2px;
  background-color: #d00a7e1e;
}

#banner #qr {
  background-color: #d00a7e1e;
  position: absolute;
  border-radius: 2px;
  margin: 5px;
  top: 0;
  left: 0;
}

#header-l {
  display: flex;
  align-items: center;
}

#header-r nav a {
  margin-right: 10px;
  text-transform: uppercase;
  color: var(--primary-color);
}

#btn-add {
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  padding: 5px;
  height: 25px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  width: 170px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

#btn-add i {
  color: var(--primary-color);
}


main {
  display: flex;
  min-height: 100vh;
}

section {
  flex: 1;
}

aside {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

aside h1 {
  background-color: #f9f9f9;
  color: #999;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.product {
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fff;
  position: relative;
}

.product-template {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.product-template i {
  color: #ddd;
  font-size: 36px;
}

.product-cover {
  height: 150px;
  background: url(../assets/img/image.svg) no-repeat center center/contain;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #eee;
}

.product-details {
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../assets/img/always-grey.png);
}

.product-price {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #2bccb1;
  font-family: rbtr;
}

.product-locatiton {
  color: #888;
}

.product-title {
  height: 40px;
  color: #333;
}

.product-more-details span {
  background-color: #fff;
  box-shadow: 0 0 2px 2px #f9f9f9;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.product-more-details span i {
  color: var(--primary-color);
}

.product-controlls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-controlls i {
  cursor: pointer;
  color: orange;
}

.product-controlls i:active {
  opacity: .6;
}

.product-more-details span:active {
  opacity: .8;
}

#btn-more {
  display: block;
  margin: 20px auto;
  width: 420px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 25px;
  cursor: pointer;
}

#btn-more:active {
  opacity: .8;
}

#form-update-profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#form-update-profile input {
  padding: 12px 15px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  margin-bottom: 0px;
  color: #aaa;
  font-size: 14px;
}

#form-update-profile input, #form-update-profile select, #form-update-profile textarea {
  margin: 5px;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  header {
    border-top: none;
    height: 40px;
  }

  main {
    flex-direction: column;
  }

  header {
    border-top: none;
  }

  #btn-add {
    width: 30px;
    height: 20px;
    padding: 5px;
    background-position: center;
  }

  aside h1 {
    background: none;
    border: none;
  }

  aside {
    width: 100%;
  }

  #form-update-profile input, #form-update-profile select, #form-update-profile textarea {
    margin: 5px;
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 16px;
  }

  #banner {
    height: 100px;
    width: 100%;
  }

  #banner h1 {
    font-size: 18px;
  }

  #banner #qr {
    width: 35px;
    height: 35px;
    margin: 3px;
  }

  #products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    padding: 10px;
  }

  .product { 
    margin-bottom: 10px;
  }

  .product-template {
    margin-bottom: 10px;
  }
}