@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: rbt;
}

@font-face {
  src: url(../assets/fonts/Macondo-Regular.ttf);
  font-family: tt;
}

:root {
  --body-color: #fff; 
  /* --primary-color: #3f3f5a; */
  --primary-color: #10076a;
}

* {
  font-family: rbt;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
}

#title {
  font-family: tt;
}

button, input, select, textarea {
  outline: none;
  border: none;
  font-size: 16px;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

button:active, input[type="submit"]:active {
  opacity: .7;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

footer > p span {
  font-family: tt;
}