input:-webkit-autofill {
	-webkit-text-fill-color: rgb(0, 0, 0) !important;
	box-shadow: 0 0 0 30px white inset;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: rbt;
}

@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: rbtr;
}

@font-face {
  src: url(../assets/fonts/ONEDAY.otf);
  font-family: tt;
}

/* --primary-color: #3f3f5a; */

:root {
  --body-color: #f9f9f9; 
  --primary-color: #d00a7e;
}

* {
  font-family: rbt;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
}

header > div {
  display: flex;
  align-items: center;
}

#title {
  font-family: tt;
  font-size: 30px;
  margin-bottom: 30px;
}

button, input, select, textarea {
  outline: none;
  border: none;
  font-size: 16px;
  /* accent-color: var(--primary-color); */
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

button:active, input[type="submit"]:active {
  opacity: .7;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* footer */
footer {
  border-top: 1px solid #ccc;
  margin: 20px 100px;
  padding: 10px 5px;
  height: 200px;
  display: flex;
  align-items:  center;
  justify-content: space-around;
  color: #666;
}

footer form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #333;
  padding: 10px;
  background-color: var(--body-color);
  position: relative;
}

footer form p {
  position: absolute;
  top: -8px;
  font-size: 12px;
  padding: 0 10px;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: var(--body-color);
}

footer form input, footer form textarea {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  font-size: 14px;
}

footer form input[type="email"], footer form textarea {
  background-color: #eee !important;
  color: #666;
}

footer form input[type="submit"] {
  background-color: #ddd !important;
  color: #666;
}

footer .center p i {
  margin-right: 10px;
  font-size: 18px;
  color: #2bccb1;
}

#footer-links a {
  margin: auto 10px;
}

footer .left p span {
  font-size: 18px;
  font-family: tt;
}


@media screen and (max-width: 414px) {

  #title {
    font-family: tt;
    font-size: 28px;
    margin-bottom: 10px;
  }

  footer {
    height: auto;
    flex-direction: column;
    margin: 0;
  }

  footer > div {
    width: calc(100% - 10px);
  }

  footer form input, footer form textarea {
    padding: 17px;
  }

  footer .left {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

